<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="text-center border border-light p-5">

        <p class="h4 mb-4">Calculator</p>

        <div class="form-row mb-4">
            <div class="col">
                <input type="number" class="form-control" placeholder="A" ng-model="a">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="B" ng-model="b">
            </div>
        </div>
        <button type="button" class="btn btn-info my-4 btn-block" ng-click="c = calculate(a, b);">Calculate</button>
        <p class="h4 mb-4">Result: {{c}}</p>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.c = 0;
            $scope.calculate = (a, b) => a * b;
        });
    </script>

</body>

</html>